<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/index.html" aria-label="Grandma's Recipe Box home">
      <img src="/images/icons/recipe-box-icon.svg" alt="" onerror="this.style.display='none'">
      Grandma's Recipe Box
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipebox/index.html">My Recipe Box</a>
        </li>
        <li class="nav-item ms-lg-2">
          <a class="badge-github" href="https://github.com/BurdiApps/recipebox" target="_blank" rel="noopener">⭐ Star on GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
